@font-face {
	font-family: "Montserrat";
	font-weight: 400, 500, 600, 700;
	font-style: normal;
	src: url("../fonts/montserrat.woff") format("woff"),
		 url("../fonts/montserrat.woff2") format("woff2"),
		 url("../fonts/montserratblack.woff") format("woff"),
		 url("../fonts/montserratblack.woff2") format("woff2"),
		 url("../fonts/montserratbold.woff") format("woff"),
		 url("../fonts/montserratbold.woff2") format("woff2"),
		 url("../fonts/montserratlight.woff") format("woff"),
		 url("../fonts/montserratlight.woff2") format("woff2");
}