body {
	font-family: 'Montserrat', serif, Arial;
	max-width: 1440px;
	margin: 0 auto;
}
.header {
	background: #fff;	
	font-family: 'Montserrat', serif, Arial;
	font-style: normal;
	color: #000;
	box-sizing: border-box;  
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__wrapper {
	box-sizing: border-box;
 	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-left: 42px;
	margin-right: 48px;
}

.logo {
	margin-right: 258px;
	width: 167px;
	height: 51px;
}

.header__link,
.header__link-secondary {
	font-family: 'Montserrat', serif, Arial;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
.header__link:nth-child(1) {
	margin-right: 59px;
}
.header__link:nth-child(2) {
	margin-right: 22px;
}
.header__link:nth-child(3) {
	margin-right: 39px;
}
.header__link:nth-child(4) {
	margin-right: 43px;
}
.header__link:hover,
.header__link-secondary:hover {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	padding-bottom: 6px;
	transition: .7s;
}
.header__link-active {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	padding-bottom: 6px;
}
.header__main-nav {
	margin-right: 221px;
}
.header__secondary-nav {
	margin-right: 32px;
}
.header__link-secondary:nth-child(1) {
	margin-right: 25px;
}
.hamburger-menu {
	width: 25px;
	height: 20px;
	border: 0;
	margin-top: 5px; 
}
.line {
	width: 25px;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	margin-bottom: 4px;
}
.header__hamburger-menu {
	display: none;
}

/* section 1*/

.section {
	font-family: 'Montserrat', serif, Arial;
	background: red;
	font-style: normal;
	color: #000;
}
.section__bg-logo {
	background: url(image/Tesla-Wordmark-Red.png) 0% 0% no-repeat;
}
.header__main-block {
	text-align: center;
}
.header__title {
	font-weight: 600;
	font-size: 90px;
	margin: 58px 0 -34px 15px;
}
.header__subtitle {
	font-weight: 500;
	font-size: 15px;
	margin-left: 16px;
}
.header__Model {
	margin-right: 58px;
}
.header__footer {
	display: flex;
	margin-left: 285px;
}
.header__footer_about {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.header__footer-pic {
	grid-row: 1/3;
	margin: 32px 8px 0 32px;
}
.header__text_big {
	font-weight: 600;
	font-size: 35px;
	margin: 23px 0 -14px 0;
	min-width: 102px;
}
.header__text_smaller {
	font-size: 20px;
	margin-left: 1px;
}
.header__text_small {
	font-weight: 400;
	font-size: 12px;
	margin: 4px 0 0 1px;
}
.header__footer_about:nth-child(1) {
	margin-right: -40px;
}
.header__footer_about:nth-child(2) {
	margin-right: 32px;
}
.header__test-drive-pic {
	margin: 32px 0 0 17px;
}
.header__footer_about:nth-child(3) {
	margin-right: 29px;
	margin-top: 11px;
}
.header__text_test-drive {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	min-width: 100px;
	margin-top: 36px;
  margin-left: 1px;
}
.button {
	background-color: #fff;
	width: 160px;
	height: 40px;
	border: 2px solid #e51937;
}
.header__btn {
	margin-top: 17px;
}
.btn-link {
	font-weight: 700;
	font-size: 13px;
	color: #e51937;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
.header__more {
	padding-left: 16px;
}
.header__arrow {
	display: block;
	margin: 25px auto 0 auto;
}


@media (min-width: 320px) and (max-width: 480px) {
	.header__main-nav,
	.header__secondary-nav {
		display: none;
	}
 }