body {}

.header {
	background: #eee;	
	font-family: 'Montserrat', serif, Arial;
	font-style: normal;
	color: #000;
	box-sizing: border-box;  
	display: flex;
	align-items: center;
	margin-top: 23px;
	margin-left: 34px;
}

.logo {
	margin-right: 258px;
	width: 167px;
	height: 51px;
}

.header__link,
.header__link-secondary {
	font-family: 'Montserrat', serif, Arial;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
.header__link:nth-child(1) {
	margin-right: 59px;
}
.header__link:nth-child(2) {
	margin-right: 22px;
}
.header__link:nth-child(3) {
	margin-right: 39px;
}
.header__link:nth-child(4) {
	margin-right: 43px;
}
.header__link:hover,
.header__link-secondary:hover {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	padding-bottom: 6px;
	transition: .7s;
}
.header__link-active {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	padding-bottom: 6px;
}
.header__main-nav {
	margin-right: 221px;
}
.header__secondary-nav {
	margin-right: 37px;
}
.header__link-secondary:nth-child(1) {
	margin-right: 35px;
}
.hamburger-menu {
	width: 25px;
	height: 20px;
	border: 0;
	margin-top: 5px; 
}
.line {
	width: 25px;
	border-bottom: 3px solid #E51937;
	border-radius: 8%;
	margin-bottom: 4px;
}
.header__hamburger-menu {
	display: none;
}


@media (min-width: 320px) and (max-width: 480px) {
	.header__main-nav,
	.header__secondary-nav {
		display: none;
	}
 }